<a href="https://colab.research.google.com/github/karloxkronfeld/Finanzas/blob/main/CambiarFreq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
import pandas as pd  #9am col = 17 meta
from pylab import *

In [76]:
datos=pd.read_csv("EURUSDMAYO.xlsx")
datos=datos.iloc[:,[1,2,3]]
datos["precio"]=(datos.bid+datos.ask)/2
datos=datos.groupby("time").mean()
datos.index=pd.to_datetime(datos.index).strftime("%Y-%m-%d %H:%M")
datos=datos.groupby("time").mean()

In [128]:
datos.index=pd.DatetimeIndex(datos.index)

In [130]:
datos.resample("15min").asfreq()

                          bid       ask    precio
time
2021-05-03 00:00:00  1.202990  1.203493  1.203241
2021-05-03 00:15:00  1.202534  1.203220  1.202877
2021-05-03 00:30:00  1.202695  1.203037  1.202866
2021-05-03 00:45:00  1.202683  1.203075  1.202879
2021-05-03 01:00:00  1.202548  1.202698  1.202623
...                       ...       ...       ...
2021-05-31 15:45:00  1.220103  1.220114  1.220109
2021-05-31 16:00:00  1.219931  1.219934  1.219933
2021-05-31 16:15:00  1.219996  1.220009  1.220002
2021-05-31 16:30:00  1.219873  1.219888  1.219881
2021-05-31 16:45:00  1.219581  1.219584  1.219583

[2756 rows x 3 columns]